.imageItemCatalog {
    width: 100%;
}

.catalogItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 1rem;
    margin-bottom: 2rem;
    border: 4px solid var(--color-lightGray);
    filter: 0.65;
    border-radius: 5px;
    width: 75%;
}

.titleCatalogItem {
    color: var(--color-emphasis);
    font-size: 1rem;
}

@media (max-width: 530px) {
    .titleCatalogItem {
        font-size: .7rem;
    }
}

@media (max-width: 600px) {
    .catalogItemContainer {
        margin-bottom: 1.5rem;
    }
}